<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>roman holiday</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

  
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li id="fb-user"></li>
          </ul>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
            <li role="presentation"><a href="/loginFacebook">Login Facebook</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">roman holiday</h3>
      </div>

      <div class="jumbotron" id="maindump" name="maindump">
        <h1>Your Holiday</h1>
        <p class="lead">Search your favorite holiday.</p>
        
        <form role="form" action="/search/twitter" method="get">
        
         <div class="row">
            <div class="form-group">
                <label for="code">holiday name</label>
                <input type="text" id="holiday" name="holiday" class="form-control input-lg">
            </div>
         </div>
        
         		<div class="form-actions">
         			<button type="submit" class="btn btn-block btn-lg btn-danger">
                        <small>Search</small>
                    </button>
                    
        		</div>
         </form>
      </div>

 	
 	 <div class="content container">
        <%- body %>
    </div>

      <footer class="footer">
        <p>&copy; roman holiday 2014</p>
      </footer>

    </div> <!-- /container -->

	<!-- common scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	
	<!-- jquery and friends -->
	<script src="/js/vendor/jquery/jquery.1.9.0.min.js"></script>

	<!--backbone and friends -->
	<script src="/js/vendor/underscore/underscore.js"></script>
	<script src="/js/vendor/backbone/backbone.js"></script>
	
	<!-- date formatting-->
	<script src="/js/vendor/moment/moment.min.js"></script>
 
 	<!-- facebook-->
	<script src="/js/facebook.js"></script>
	
    <!-- page specific -->
	<%- scripts %>
    
  </body>
</html>



